@import "tailwindcss";
body {
  background: linear-gradient(
    135deg,
    #7b66ff 0%,
    #a08eff 50%,
    #d6ccff 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}
